@media screen and (max-width: 576px) {
    .nav{
        justify-content: space-around;
        margin-bottom: 50px;
        }
    .nav-item{
        display: none;
    }
    .hamburger{
        display: block;
        color: white;
    }
    .banner,
    .run,
    .bmi-info{
        flex-direction: column;
    }
    .img-container,
    .images-container,
    .footer-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .run-content,
    .run-img,
    .bmi-info-table,
    .bmi-form-chart,
    table,
    .form-container{
        width: 100%;
    }
    .bmi-content,
    .bmi-container,
    .footer-content{
        padding: 20px;
            }
            .bmi-container{
                margin-top: 20px;
            }
        
}