@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* font Inter */
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* font Dancing Script */
.dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

/* common shared style */
.primary-btn {
    color: #FFF;
    padding: 15px 40px;
    border-radius: 42px;
    background: #E6533C;
    border: 0;
}
.section-title{
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.section-description{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

/* header style */
header {
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
    padding-top: 55px;
}

nav,
.banner,
.habhit,
.run,
.footer-content
{
    max-width: 1050px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.nav {
    justify-content: space-between;
    align-items: center;
}

.nav-title {

    color: #E6533C;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 800;
}

.nav .home {
    padding: 8px 20px;
    border-radius: 46px;
    background: #E6533C;
}

.nav ul li {
    margin-right: 47px;
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
}

.hamburger {
    display: none;
}

/* banner */
.banner {
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    color: #FFF;
    font-family: Inter;
    font-size: 5rem;
    font-weight: 900;
}

.banner-title .shape {
    color: #FFF;
    font-style: italic;
    font-size: 5rem;
    font-weight: 400;
}

.banner-description {
    color: #FFFFFF80;
    font-size: 16px;
    font-weight: 400;
    margin-top: 28px;
}

.btn-container {
    margin-top: 28px;
}

.btn-2 {
    background: transparent;
    border: 1px solid #FFFFFF;
}

.banner-img {
    width: 50%;
    position: relative;
}

#badge-1 {
    position: absolute;
    top: 27%;
    left: 60%;
    width: max-content;
    padding: 20px 23px 20px 75px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
}

.banner-img img {
    width: 100%;
}

#badge-2 {
    position: absolute;
    top: 72%;
    left: -7%;
    width: max-content;
    padding: 20px 23px 20px 75px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
}

#number {
    color: #FAFAF9;
    font-size: 24px;
    font-weight: 900;
}

#text {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
}
/* change habhit section style start */
.habhit {
    margin-top: 100px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   gap: 40px;
    margin-top: 55px;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.img-title{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 30px;
}
.img-description{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 6px;
}
/* change habhit section style end */
/* run section style start */
.run{
    margin-top: 100px;
    gap: 165px;
    padding: 30px;
    border-radius: 18px;
background: #222;
}
.run-content, .run-img{
    width: 50%;
}
.run-title, .run-description{
    text-align: start;
}
.run-description{
    margin-bottom: 35px;
}
.run-img img{
    width: 100%;
    border-radius: 18px;
}
/* run section style end */
/* bmi section style start */
.bmi-content{
    max-width: 650px;
    margin: 0 auto;
    margin-top: 90px;
}
.bmi-title, .bmi-description{
    text-align: start;
}

.bmi-container{
    background: #222;
    padding: 20px 180px;
    margin-top: 85px;
}
.bmi-info{
    justify-content: space-between;
    margin-top: 90px;
   
    
}
.bmi-info-table, .bmi-form-chart{
    width: 50%;
    margin-top: 52px;

}
.info-title{
    color: #FFF;
font-size: 28px;
font-weight: 900;
}
.bmi-form-title{
    margin-bottom: 14px;
}
.info-description{
color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-weight: 400;
}
/* table */
table{
    margin-top: 50px;
    width: 80%;
    border-collapse: collapse;
}
th, td{
    border: 1px solid grey;
    padding: 15px 65px 15px 15px;
    color: #FFF;
font-size: 16px;
font-weight: 500;
}
td{
color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-weight: 400;
}
.form-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
}
.form-field {
width: 48%;
margin-top: 12px;
}
.form-field #activity{
width: 100%;


}
.form-container input, select{
    color: rgba(255, 255, 255, 0.60);
    width: 100%;
    padding: 12px 40px 12px 20px;
    border: 0;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.10);
}
.form-container select{
    padding: 12px 60px;
    color: rgba(255, 255, 255, 0.60);
font-size: 12px;
font-weight: 400;
}

.form-field-activity{
    width: 100%;
}
.form-btn{
    margin-top: 35px;
}
/* bmi section style end */
/* team section style srart */
.team{
    margin-top: 80px;
}
.team-description{
    margin-top: 14px;
    margin-bottom: 58px;
}
.images-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: rgba(255, 255, 255, 0.10);
    padding: 20px;
    border-radius: 18px;
    
}
.image-container {
    position: relative;
height: 270px;
}
  .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    
  }
  
  .image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: left;
  
  }
  .title{
  
    color: #FFF;
    font-size: 20px;
    font-weight: 900;
  }
  .description{
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
  }
/* team section style end */
/* footer section style start */

footer{
    background: rgba(255, 255, 255, 0.10);
    margin-top: 88px;
}
.footer-content{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 100px;
padding-top: 60px;
padding-bottom: 30px;

}
.elit{
color: #E6533C;
font-family: Inter;
font-size: 4rem;
font-style: italic;
font-weight: 800;
}
.footer-title{
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
}
.footer-content p{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
    margin-top: 20px;

}
.footer-content p a{
text-decoration: none;
    color: rgba(255, 255, 255, 0.50);
   
}
footer hr{
    max-width: 1000px;
    margin: 0 auto;
    stroke-width: 2px;
stroke: rgba(224, 6, 6, 0.1);
}
.footer-2{
    text-align: center;
color: rgba(255, 255, 255, 0.50);
font-size: 1.5rem;
font-weight: 400;
padding: 35px 0px;
}
/* footer section style end */